.psc-side-nav-bar-item {

}
.psc-side-nav-bar-item > .psc-item-name {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding: .2em 0;
    white-space: nowrap;
}
