.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.App > .psc-project-structure {
    position: relative;
    background-color: #f0f0f0;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

@media (min-width: 768px) {
    .App > .psc-project-structure {
        flex: 0 30%;
    }
    .App > .psc-content-viewer {
        flex: 1 0 70%;
    }
}
@media (min-width: 1024px) {
    .App {
        flex-direction: row;
    }
    .App > .psc-project-structure {
        flex: 0 25%;
    }
    .App > .psc-content-viewer {
        flex: 1 0 75%;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 1em;
}
